footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Movil */
@media (min-width: 320px) and (max-width: 480px) {footer{position: relative;}}
/* Tablet */
@media (min-width: 480px) and (max-width: 768px) {footer{position: absolute;}}
/* Portatil */
@media (min-width: 768px) and (max-width: 1024) {footer{position: absolute;}}
/* Escritorio */
@media (min-width: 1024px) and (max-width: 1200) {footer{position: absolute;}}
/* Mas grande */
@media only screen and (min-width: 1200px) {footer{position: absolute;  border: 10px solid red;}}


/* For Mobile devices: 320px-480px
For Tablets or iPad: 480px - 768px
For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
For Extra-large size device: 1200px and more */