<footer>
  <div class="row justify-content-center mb-0 pt-3 pb-0">
      <div class="col-12">
          <div class="row">
              <div class="col-sm-2">
                  <a class="logo" routerLink="/"> <i class='logo'></i></a>
              </div>
              <div class="col-sm-2 my-sm-0 mt-5 d-flex justify-content-center">
                  <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/veneciapasteleria/" target="blank"><i class="fa fa-facebook fa-2xl"></i></a></li>
                    <li><a href="https://www.instagram.com/veneciapasteleria/" target="blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa-brands fa-whatsapp fa-2xl"></i></a></li>
                  </ul>
              </div>
              <div class="col-sm-4 my-sm-0 mt-5 d-flex justify-content-center">
                  <ul class="list-unstyled check-list">
                      <li class="mt-0">Política de Devoluciones</li>
                      <li>Políticas de Privacidad</li>
                      <li>Preguntas Frecuentes</li>
                  </ul>
              </div>
              <div class="col-sm-4 my-sm-0 mt-5">
                  <ul class="list-unstyled">
                      <li class="mt-0">Comunícate con nuestro departamento de mercadeo (No domicilios): mercadeo@venecia.com.co</li>
                      <li>Línea única nacional:      <i class="fa-solid fa-phone"></i> 322 4000000</li>
                      <li>Careers- <span class="Careers">We're-hiring</span></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>