footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FEFBE7;
    color: black;
}
/* Movil */
@media (min-width: 320px) and (max-width: 480px) {footer{position: relative;}}
/* Tablet */
@media (min-width: 480px) and (max-width: 768px) {footer{position: absolute;}}
/* Portatil */
@media (min-width: 768px) and (max-width: 1024) {footer{position: absolute;}}
/* Escritorio */
@media (min-width: 1024px) and (max-width: 1200) {footer{position: absolute;}}
/* Mas grande */
@media only screen and (min-width: 1200px) {footer{position: absolute;}}