@font-face {
    font-family: Acme-Regular;
    src: url('./assets/fonts/Acme/Acme-Regular.ttf');
}

@font-face {
    font-family: Fredoka;
    src: url('./assets/fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: Fredoka-One;
    src: url('./assets/fonts/Fredoka_One/FredokaOne-Regular.ttf');
}