/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Movil */
@media (min-width: 320px) and (max-width: 480px) {
    /* body{background-color: blue;} */
}
/* Tablet */
@media (min-width: 480px) and (max-width: 768px) {}
/* Portatil */
@media (min-width:  768px) and (max-width: 1024px) {}
/* Escritorio */
@media (min-width:  1024px) and (max-width: 1200px) {}
/* ExtraGrande */
@media (max-width: 1200px) {}